<style>
    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1em;
    }   
</style>

<form (ngSubmit)="onSubmit()" #poetryForm="ngForm" class="form">
  <mat-form-field appearance="fill">
    <mat-label>Poetry Title</mat-label>
    <input matInput [(ngModel)]="model.title" name="title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Poetry Author</mat-label>
    <input matInput [(ngModel)]="model.author" name="author">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Poetry content</mat-label>
    <textarea matInput [(ngModel)]="model.content" name="content"></textarea>
  </mat-form-field>    

  <button mat-raised-button color="primary"
  [disabled]="!poetryForm.form.valid">Poem it!</button>
</form>

{{ model | json}}