
<h1>#Add <u>Poetry</u></h1>
<p style="margin-top: -1em;">Fill the form below and send it to add a poetry!</p>

<mat-card>
    <mat-card-header>
        <mat-card-title>Add a poetry (template driven)</mat-card-title>
    <mat-card-subtitle>add all field and send it for add a poetry to firebase database.</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <!--  form field -->
        <app-poetry-form-template-driven></app-poetry-form-template-driven>
    </mat-card-content>
</mat-card>

  <ul>
    TODO
    <li>1- <s>usare un approccio documentato per la creazione di form</s>(magari provarli entrambi.</li>
    <li>2- <s>concludere la parte logica del form, far funzionare il tutto</s></li>
    <li>3- <s>collegare un database SAAS semplice (magari + semplice di firebase); un microservizio...</s></li>
    <li>4- <s>mostrare in homepage le poesie</s></li>
    <li>6- add type to mongo service</li>
    <li>use of rxjs or a more stable http approach</li>
  </ul>