
<h1>#Add <u>Poetry</u></h1>
<p style="margin-top: -1em;">Fill the form below and send it to add a poetry!</p>

<mat-card>
    <mat-card-header>
        <mat-card-title>Add a poetry (template driven)</mat-card-title>
    <mat-card-subtitle>add all field and send it for add a poetry to firebase database.</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <!--  form field -->
        <app-poetry-form-template-driven></app-poetry-form-template-driven>
    </mat-card-content>
</mat-card>